/*Grundlegendes*/
html {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	text-align: center;
	background: url(../Bilder/bg.jpg) repeat center fixed #fff;
	color: #444;
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: 0em;
	padding: 0 0 5px 0;
}

h1, h2, h3 {
	margin: 0 0 15px 0;
	padding: 15px 0 5px 0;
}

h2 {
	font-size: 160%;
	padding: 9px 0 5px 0;
}

h3 {
	font-size: 140%;
	padding: 5px 0 0 0;
}

h4, h6 {
	color: #F67F00;
	padding: 0 0 5px 0;
}

h5, h6 {
	color: #888;
	letter-spacing: normal;
	padding: 0 0 15px 0;
}

a, a:hover {
	outline: none;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

/*HTML5 Elemente für ältere Browser*/
article, aside, figure, footer, header, hgroup, nav, section {
	display: block;
}

/*Seite*/
.container {
	text-align: left;
	width: 957px;
	margin: 0 auto 0 auto;
}

.seite {
	background: #fff;
	padding: 5px;
}

.sidebar {
	float: right;
	width: 200px;
	padding: 5px;
	margin: -5px;
}

.menu ,.footer {
	padding: 5px;
	height: 35px;
}

/*Menu*/
ul.menu li {
	display: inline;
}
/*footer*/
.footer {
	text-align: center;
	padding: 10px;
	height: 25px;
	clear: both;
}

.footer a {
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}

ul,ol {
	margin-left: 25px;
}

/*Formular*/
form span {
	width: 200px;
	float: left;
}

form p {
	margin: 5px 0;
}

input,textarea {
	display: inline-block;
	margin: 5px;
	padding: 4px;
	transition: 0.3s ease;
	-o-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
}

input:focus,textarea:focus {
	outline: 0 none;
}

textarea {
	width: 480px;
	height: 100px;
}

a.button ,input[type=submit] {
	text-decoration: none;
	padding: 5px;
	margin: 7px;
	transition: 0.3s ease;
	-o-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
}

a.button:hover,input[type=submit]:hover {
	text-decoration: none;
	cursor: pointer;
}

/*Kommentare*/
.kommentar{
    margin: 5px;
    padding: 5px;
}

.dtnm{
    display: block;
    float: right;
    font-size: 13px;
    margin-left: 5px;
}